body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: 100% 100%;
    margin: 0px;
}

.head {
    text-align: center;
    color: #fff;
    top: 0px;
    left: 0px;
    user-select: none;
}

.head h1{
    color: #f4f4f4;
    margin: 21px;
}

.main {
    position: relative;
    width: 70%;
    height: 450px;
    top: 73px;
    left:15%;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.66);
    backdrop-filter: blur(6px);
}

.menu{
    position: relative;
    text-align: center;
    width: 20%;
    top: 60px;
    height: 440px;
    user-select: none;
}

.menu h2{
    color: #00f4f4cc;
    margin: 0px;
    width: 100%;
    padding-top: 20px;
}

.menu-left {
    left: 10%;
}

.menu-middle {
    margin-top: -440px;
    left: 40%;
}

.menu-right {
    margin-top: -440px;
    left: 70%;
}

.menu-left div, .menu-middle div, .menu-right div {
    position: relative;
    background-color: #2ed573;
    color: #fff;
    margin-top: 20px;
    height: 80px;
    line-height: 80px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    border-radius: 50%;
    transition-duration: 100ms;
}

.menu-left div:hover, .menu-middle div:hover, .menu-right div:hover {
    cursor: pointer;
    background-color: #2ed5;
    color: #2ed573;
}

.form {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
}

.form label, .form input {
    margin-top: 6px;
}

.form label {
    display: inline-block;
    text-align: center;
}

#bookForm {
    margin-left: -157.87px;
    margin-top: -79.5px;
}

#bookForm label {
    width: 144px;
}

#rentForm {
    margin-left: -138.87px;
    margin-top: -94.4px;
}

#rentForm label {
    width: 112px;
}

.container{
    display: none;
}
